In [1]:
1+1

2

In [2]:
a = [1,2,3,4,5]

合計/データ数

合計＝順番に足した結果

In [4]:
s = 0

s = ｓ + 1 sに１をたす。それをもう一回ｓと呼ぶ。
s = s + 2
s = s + 3
s = s + 4
s = s + 5  

s

15

In [5]:
a = [1,2,3,4,5]

for p in a:      forはaの要素をｐと呼ぶ。字下げ大事。ｘはどこまで大事か字下げで表現する。
    print (p)

1
2
3
4
5

In [ ]:
リストＡの要素をＰと呼び、ｐをＰＲＩＮＴする。

In [9]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
　　print(val）

SyntaxError: invalid character in identifier (<ipython-input-9-76116ed6a6b4>, line 4)

In [11]:
a

[1, 2, 3, 4, 5]

In [17]:
s=0

for x in a:
    s = s + x
    
s

15

In [16]:
s=0

for x in a:
    s = s + x 
    
s/len(a)

3.0

In [19]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val

    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

NameError: name 'list_tohoku' is not defined

In [20]:
 (3148+2991+2966+2457)/4

2890.5

In [32]:
list_shikoku = [3148,2991,2966,2457]

s = 0
for x in list shikoku:
    s += x
    
s/len(list_shikoku)

SyntaxError: invalid syntax (<ipython-input-32-0c385c89d10c>, line 4)

In [25]:
from statistics import *

In [30]:
mean(list_shikoku)

NameError: name 'list_shikoku' is not defined

In [29]:
mean(1,2,3,4,5)

TypeError: mean() takes 1 positional argument but 5 were given

In [ ]:
dict_tohoku = {’aomori’: 5349, ’akita’: 4644, ’sendai’: 5344,
’Yamagata’: 4968, ’fukushima’: 6259, ’morioka’: 5478}

In [38]:
dic = {'A':100,'B':20,'c':3000}

In [34]:
dic['A']

100

In [40]:
for key in dic:
    print(key)

A
B
c

In [42]:
for key in dict_tohoku:
    print(dict_tohoku key )

SyntaxError: invalid syntax (<ipython-input-42-c77b0c0ff8c8>, line 2)

In [44]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [46]:
s=0

for x in dict_tohoku:
    print(x)
    #s += x


s/len(dict_tohoku)

aomori
akita
sendai
Yamagata
fukushima
morioka

0.0

In [47]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均
2,{'A':10, 'B'100, 'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [48]:
a=[5,4,3,2]
s=0

for x in a:
    s += x
    
s/len(a)

3.5

In [49]:
mean(a)

3.5

In [50]:
a={'A':10, 'B':100, 'C':1000}
s=0

for x in a:
    s += a[x]
    
s/len(a)

370.0

In [53]:
mean[a.valuse()]

AttributeError: 'dict' object has no attribute 'valuse'

In [55]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0

In [57]:
a = {10:'A',100:'B',1000:'C'}

s=0

for x in a:
    s += x
    
s/len(a)

370.0

In [58]:
a.values()

dict_values(['A', 'B', 'C'])